/node_modules/
/examples/javaexample/.gradle/
/examples/javaexample/gradle/
/examples/javaexample/build
/examples/javaexample/.vscode
/examples/javaexample/.settings
/examples/javaexample/bin


env.json
